:root {
  --primary: #3187FF;
  --primary-rgba: 128, 180, 255;
  --secondary: #FFFFFF;
  --sent: #F4BC62;
  --resent: #2864F4;
  --queued: #B6B6B6;
  --expired: #e74c3c;
  --accepted: #54B488;
  --declined: #282828;
  --cancelled: #E16558;
  --sent-rgb: 214, 150, 24;
  --resent-rgb: 52, 152, 219;
  --queued-rgb: 182, 182, 182;
  --expired-rgb: 231, 76, 60;
  --accepted-rgb: 46, 204, 113;
  --declined-rgb: 0, 0, 0;
  --cancelled-rgb: 231, 76, 60;
  --mainBackground: #FCFCFC;
  --mainBackground-rgb: 252, 252, 252;
  --menuBackground: #DEE7ED;
  --menuIcons: rgba(0,0,0,.5);
  --topBarBackground: #AACBE1;
  --submenuBackground: #BBD5E7;
  --submenuDropdownBackground: #f0f0f0;
  --tableOptionsBackground: #D1E0ED;
  --textColor: #000;
  --textColorRgb: 0, 0, 0;
  --textColorInverted: #fff;
  --tableHeaderBackgroundColor: rgba(237, 247, 255, 0.5);
  --tableHeaderTextColor: rgba(0, 20, 50, 0.5);
  --tableHeaderBorderColor: #E7E7E5;
  --tableBorderColor: 212, 212, 206; // #ECECE9;
  --sidebarBackground: #FCFCFC;
  --inputBackground: rgba(0,0,0,.11); // #E0E0E0
  --inputFocusBackground: 49, 135, 255;
  --inputValidBackground: #AFDFC9;
  --inputValidFocusBorder: #80D9B1;
  --inputInvalidBackground: #F5B7B1;
  --inputInvalidFocusBorder: #F57E71;
  --inputDisabledBackground: #d8d8d8;
  --inputDisabledText: #424242;
  --inputPlaceholderText: rgba(0,0,0,.3);
  --inputPrependBackground: rgba(0,0,0,.15);
  --inputPrependSwatchBackground: #D6D6D6;
  --eventGradient: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 40%,rgba(255,255,255,0.95) 100%);
  --eventShadow: 0 20px 60px -20px rgba(0,0,0,.15);
  --eventShadowHover: 0 40px 60px -30px rgba(0,0,0,.25);
  --status-indicator-success: #2ecc71;
  --status-indicator-warning: #d69618;
  --status-indicator-failure: #e74c3c;
  --hrColor: rgba(0, 0, 0, 0.03);
  --select2dropdownBackground: #E5E5E5;
  --columnSortingTableBackground: rgba(0,0,0,0.03);
  --participantExperienceNavbarBorder: rgba(0,0,0,.15);
  --c2primary: #47eac8;
}

[data-theme="dark"] {
  --primary: #3187FF;
  --primary-rgba: 0, 44, 153;
  --secondary: #151618;
  --sent: #d69618;
  --resent: #3498db;
  --queued: #B6B6B6;
  --expired: #e74c3c;
  --accepted: #2ecc71;
  --declined: #000000;
  --cancelled: #e74c3c;
  --sent-rgb: 214, 150, 24;
  --resent-rgb: 52, 152, 219;
  --queued-rgb: 182, 182, 182;
  --expired-rgb: 231, 76, 60;
  --accepted-rgb: 46, 204, 113;
  --declined-rgb: 0, 0, 0;
  --cancelled-rgb: 231, 76, 60;
  --mainBackground: #232429;
  --mainBackground-rgb: 35, 36, 41;
  --menuBackground: #3D3D46;
  --menuIcons: rgba(255,255,255,.5);
  --topBarBackground: #4A4A55;
  --submenuBackground: #3e3e47;
  --submenuDropdownBackground: #17181c;
  --submenuBackground-rgb: 62, 62, 71;
  --tableOptionsBackground: #34343C;
  --textColor: #fff;
  --textColorRgb: 255, 255, 255;
  --textColorInverted: #000;
  --tableHeaderBackgroundColor: rgba(43, 43, 49, 0.7);
  --tableHeaderTextColor: rgba(255, 255, 255, 0.5);
  --tableHeaderBorderColor: #383840; //#43434C;
  --tableBorderColor: 67, 67, 76;
  --sidebarBackground: #302F36;
  --inputFocusBackground: 49, 135, 255;
  --inputValidBackground: #2B5B48;
  --inputInvalidBackground: #783A38;
  --inputBackground: rgba(0,0,0,.35);
  --inputDisabledBackground: rgba(0,0,0,.25);
  --inputDisabledText: #717171;
  --inputPlaceholderText: rgba(255,255,255,.3);
  --inputPrependBackground: rgba(0,0,0,.5);
  --inputPrependSwatchBackground: #111214;
  --eventGradient: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0.9) 100%);
  --eventShadow: 0 20px 60px -20px rgba(0,0,0,.75);
  --eventShadowHover: 0 40px 60px -30px rgba(0,0,0,.9);
  --status-indicator-success: #2ecc71;
  --status-indicator-warning: #d69618;
  --status-indicator-failure: #e74c3c;
  --hrColor: rgba(255,255,255, 0.03);
  --select2dropdownBackground: #1F1F21;
  --columnSortingTableBackground: rgba(0,0,0,.1);
  --participantExperienceNavbarBorder: rgba(255,255,255,.15);
  --c2primary: #47eac8;
}